<div class="card-container">
	<mat-card class="example-card">
		<mat-card-header>
		  <div mat-card-avatar class="example-header-image"></div>
		  <mat-card-title>Prison Mike</mat-card-title>
		  <mat-card-subtitle>lmao</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/5/56/PrisonMike.png" alt="Photo of prison Mike">
		<mat-card-content>
		  <p>
			Michael Scott (Steve Carell) learns that black employee Martin Nash (Wayne Wilderson) is a former criminal, and tells the entire office. During this time, in a misguided effort to avoid issues of stereotyping and racism Michael asks the employees to name a white person that they trust and he will name a black person he trusts even more. The name Jesus pops up and Michael replies with Apollo Creed. 
		  </p>
		</mat-card-content>
		<mat-card-actions>
		  <button mat-button>LIKE</button>
		  <button mat-button>SHARE</button>
		</mat-card-actions>
	  </mat-card>
</div>
