<section class="hero">
	<h1>Welcome to {{ shopName }}!</h1>
	<p>Explore our wide selection of products.</p>
	<button routerLink="/products" class='shop-button'>Shop Now</button>
  </section>

  <!-- <section class="featured-products">
	<h2>Featured Products</h2>
	<app-card *ngFor="let product of featuredProducts"></app-card>
  </section> -->

  <section class="about-us">
	<h2>About Us</h2>
	<p>Short introduction about your shop and its values.</p>
	<button routerLink="/about" class="learn-more-button">Learn More</button>

  </section>

