<header class="shop-header">
	<a routerLink="/" class="logo">
	  <img src="../../assets/angular-shop.png" alt="Shop Logo" class="logo">
	</a>
	<nav>
	  <ul>
		<li><a routerLink="/" routerlinkActive="active">Home</a></li>
		<li><a routerLink="/products" routerlinkActive="active">Products</a></li>
		<li><a routerLink="/contact" routerlinkActive="active">Contact</a></li>
		<li><a routerLink="/about" routerlinkActive="active">About Us</a></li>
	  </ul>
	</nav>
	</header>
<router-outlet></router-outlet>

